:root {
  --common-font: DM Sans;
  --big-font: Titan One;
  --weight-fnt-common: 400;
  --weight-fnt-medium: 500;
  --weight-fnt-big: 700;
  --white: #ffffff;
  --black: #000000;
 /* brackground roz in Frame 3 rectangle 2*/
  --pink-bg: #FFB8CA;
 /* roz in Frame 3 Elipse 3*/
  --pink-elipse: #FFA5BA;
 /* Culoarea meniului cand avem hover și 
    pentru fonturile big */
  --red-passion: #D41443;
 /* culoare fundal buton Our Location */
  --red-button: #D41342;

 /* culoare pentru cele trei puncte de la testimoniale*/
  --pink-red: #C7133E;
 /*culoare pentru svg-ul home de la testimoniale */
  --pink-purple: #D31342;
 /* culoare fundal pentru svg-urile din ultima secțiune*/
  --pink-svg: #FEA5BB;
 /* fundalul la modalul icecream-open-burger*/
  --pink-modal: #E17992;
 /* culoarea bordurilor de la meniurile din modale */
  --pink-borders: #E18298;


 /* Fundalul pentru ICE-COFFE */
  --brown-ice-coffe: #F0D1A5;
 /* Fundalul pentru MILKSHAKE */
  --green-milkshake: #C2E297;
 /* Fundalul pentru HOW IT'S MADE? */
  --pink-made: #FFF5F6;
 /* culoare pentru paragraful explicativ de
   la HOW IT'S MADE? */
  --black-pink: #907E82;
 /* culoare fundal la mesajul de la testimoniale*/
  --cloudy: #E1E1E1;
 
 /* Griul de la testimoniale */
  --grey: #D9D9D9;
}

.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  // ❗️❗️❗️ The path to images from a SASS file
  // is always the same as from the css folder.
  background-image: url('../images/logo.png');
  background-size: cover;
  background-position: center;
}
