* {
    box-sizing: border-box;
    margin: 0 auto;
}

.footer-bg {
    width: 100%;
    background-color: var(--pink-made);
}

.footer-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 720px;
}

.top-footer {
    width: 100%; 
    position: absolute;
    top: -12%;
}

.medium-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

.left-footer {
    margin: 0;
    border-left: inherit;
    padding-left: 20px;
}
    
.right-footer {
    margin: 0;
    border-right: inherit;
}

.motto1 {
    font-family: var(--big-font);
    font-size: var(--h2);
    font-weight: var(--weight-fnt-common);
    line-height: 34.35px;
    letter-spacing: 0.04em;
    text-align: left;
    color: var(--pink-elipse);
    margin: 0;
}

.motto2 {
    font-family: var(--big-font);
    font-size: var(--hero-span-font-size);
    font-weight: var(--weight-fnt-common);
    line-height: 66.41px;
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--red-passion);
    margin: 10px 0px 0px;
}

.social-media {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-links-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 0;
    }

.social-icon {
    width: 20px;
    height: 20px;
    gap: 18px;
    opacity: 0px;
    fill: var(--white);
}

.social-link-items {
    width: 34px;
    height: 34px;
    padding: 7px 0px 0px 7px;
    background-color: var(--pink-svg);
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 20px;
}

.social-link-items:hover,
.social-link-items:visited {
    background-color: var(--red-passion);
}

.contact-message {
    text-align: right;
    padding-right: 20px;
    font-family: var(--common-font);
    font-size: var(--primary-font-size);
    font-weight: var(--weight-fnt-big);
    line-height: 29.76px;
    letter-spacing: 0.02em;
}

.footer-contacts {
    margin-right: 0;
}

.phone {
    text-decoration: none;
    color: var(--red-passion);
}

.line {
    width:95%;
}

.bottom-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}

.copyright {
    font-family: var(--common-font);
    font-size: var(--secondary-font-size);
    font-weight: var(--weight-fnt-big);
    line-height: 26.04px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--black-pink);
    padding: 0px ;
}

/* Mobile styles */
@media only screen and (min-width: 320px) {

    /* Styles for small mobile devices */
    .medium-footer, .copyright {
        display: flex;
        flex-direction: column;
    }

    .copyright > p:first-child {
        margin-bottom: 0;
    }
    .copyright>p:nth-child(2) {
        margin-top: 0;
    }

    .motto1 {
        font-size: 18px;
    }

    .motto2 {
        font-size: 34px;
    }

    .contact-message {
        font-size: 12px;
    }
}

/* Tablet styles */
@media only screen and (min-width: 767px) {

    /* Styles for tablets */
    .copyright {
        margin: 0 auto;
        height: 26px;
    }

    .copyright P {
        margin: auto;
    }

    .medium-footer,
    .copyright {
        flex-direction: row;
        align-items: center;
    }


    .moto {
        display: flex;
        flex-direction: column;
    }
    .motto1 {
        font-size: 26px;
    }

    .motto2 {
        font-size: 48px;
    }

    .contact-message {
        font-size: 14px;
    }
}


/* Desktop styles */
@media only screen and (min-width: 800px) {

    /* Styles for desktop and larger screens */
    .motto1 {
        font-size: 30px;
    }

    .motto2 {
        font-size: 58px;
    }

    .contact-message {
        font-size: 16px;
    }

    .copyright,
    .motto, .medium-footer {
        display: flex;
    }

    .medium-footer {
        justify-content: space-between;
    }

}
