.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    grid-column-gap: 10px;
    width: 100%;
    height: 430px;
    position: relative;
    top: -134px;
}
.column-five {
    position: relative;
    bottom: 30px;
}
.column-six {
    position: relative;
    bottom: 10px;
}
.column-four {
    position: relative;
    top: 10px;
}
.div-grid-gallery {
    display: flex;
    justify-content: space-around;
}

.photo img {
    border-radius: 20px;
}