
.products {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.products label {
    text-transform: uppercase;
    font-family: var(--big-font);
    font-size: 18px;
    font-weight: 400;
    line-height: 20.61px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFA5BA;
    margin-bottom: 15px;
    margin-top: 61px;
}

.products h1 {
    text-transform: uppercase;
    font-family: var(--big-font);
    font-size: 34px;
    font-weight: 400;
    line-height: 38.96px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #D41443;
    margin: 0;
}

.product h2 {
    font-family: var(--big-font);
    font-size: 20px;
    font-weight: 400;
    line-height: 22.9px;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 0;
}

.product h2::after {
    content: "...";
    color: var(--white);
    display: block;
    margin-top: 16px;
    margin-bottom: 32px;
}

.product p {
    font-family: var(--common-font);
    font-size: 14px;
    font-weight: 700;
    line-height: 21.28px;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white);
    margin: 0;
    padding: 0 16px;

}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 24px;
    width: 280px;
    position: relative;
    margin-top: 140px;
    padding-top: 140px;
}

.card-1 {
    background: #FFB8CA;
}
.card-2 {
    background: #F0D1A5;
}
.card-3 {
    background: #C2E297;
}

.products-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 60px auto;
}

.expand-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    color: #D41443;
    text-align: center;
    margin-left: 44%;
    margin-bottom: 60px;
    margin-top: 60px;
}

.expand-btn:hover {
    background-color: rgb(218, 209, 209);
}

.card-1 h2::before {
    content: url(../images/products/mobile-ice-cream.png);
    position: absolute;
    margin-top: -297px;
    margin-left: -80px;
}

.card-2 h2::before {
    content: url(../images/products/mobile-ice-coffee.png);
    position: absolute;
    margin-top: -297px;
    margin-left: -77px;
}

.card-3 h2::before {
    content: url(../images/products/mobile-milkshakes.png);
    position: absolute;
    margin-top: -297px;
    margin-left: -69px;
}

.expand-btn svg {
    width: 20px;
    fill: #D41443;
    margin-top: -55px;
}

.back-btn {
    color: #D41443;
    background-color: #ffffff;
    width: 80px;
    border: none;
    text-align: center;
    margin-left: 35%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
}

@media screen and (min-width:768px) {
    .products label {
        font-size: 26px;
        line-height: 29.77px;
    }
    .products h1 {
        font-size: 48px;
        line-height: 54.96px;
        margin-bottom: 20px;
    }
    .product {
        width: 224px;
        padding-top: 105px;
    }
    .products-container {
        flex-direction: row;
        gap: 16px;
    }
    .product p {
        line-height: 24.64px;
    }
    .card-1 h2::before {
        content: url(../images/products/tablet-ice-cream.png);
        margin-left: -54px;
        margin-top: -257px;
    }
    .card-2 h2::before {
        content: url(../images/products/tablet-ice-coffee.png);
        margin-left: -49.5px;
        margin-top: -257px;
    }
    .card-3 h2::before {
        content: url(../images/products/tablet-milkshakes.png);
        margin-left: -42px;
        margin-top: -257px;
    }
    .expand-btn {
        margin-left: 42%;
        margin-bottom: 40px;
        margin-top: 32px;
    }
    .back-btn {
        margin-left: 31%;
    }
    
}

@media screen and (min-width:1280px) {
    .products label {
        font-size: 30px;
        line-height: 34.35px;
    }
    .products h1 {
        font-size: 58px;
        line-height: 66.41px;
        margin-bottom: 20px;
        letter-spacing: 0.06em;
    }
    .product {
        width: 368px;
        padding-top: 165px;
        margin-top: 250px;
    }
    .products-container {
        gap: 32px;
    }
    .card-1 h2::before {
        content: url(../images/products/ice-cream.png);
        margin-left: -94px;
        margin-top: -452px;
    }
    .card-2 h2::before {
        content: url(../images/products/ice-coffee.png);
        margin-left: -89px;
        margin-top: -452px;
    }
    .card-3 h2::before {
        content: url(../images/products/milkshakes.png);
        margin-left: -77px;
        margin-top: -452px;
    }
    .expand-btn {
        margin-bottom: 60px;
        margin-top: 52px;
        margin-left: 44%;
    }
    .back-btn {
        margin-left: 39%;
    }
    .product h2 {
        font-size: 30px;
        line-height: 34.35px;
    }
    .product p {
        font-size: 16px;
        line-height: 28.16px;
    }
}

 @media screen and (-webkit-min-device-pixel-ratio:2) and 
 (min-resolution:2dppx) {
    .card-1 h2::before {
        content: url(../images/products/mobile-ice-cream@2x.png);
    }
    .card-1 h2::before {
        content: url(../images/products/mobile-ice-coffee@2x.png);
    }
    .card-1 h2::before {
        content: url(../images/products/mobile-milkshakes@2x.png);
    }
    @media screen and (min-width:768px) {
        .card-1 h2::before {
            content: url(../images/products/tablet-ice-cream@2x.png);
        }
        .card-2 h2::before {
            content: url(../images/products/tablet-ice-coffee@2x.png);
        }
        .card-3 h2::before {
            content: url(../images/products/tablet-milkshakes@2x.png);
        }
    }
    @media screen and (min-width:1280px) {
        .card-1 h2::before {
            content: url(../images/products/ice-cream@2x.png);
        }
        .card-2 h2::before {
            content: url(../images/products/ice-coffee@2x.png);
        }
        .card-3 h2::before {
            content: url(../images/products/milkshakes@2x.png);
        }
    }
}