.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.review {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
    flex: 0 0 100%;
    transition: transform 0.6s ease;
    display: none;
}

.review.active {
    display: flex;
}

.rvw {
    display: flex;
    text-align: center;
    color: var(--black);
    background-color: var(--cloudy);
    font-size: var(--primary-font-size);
    font-weight: var(--weight-fnt-medium);
    line-height: 30px;
    position: relative;
    border: 1px solid var(--reviews-border);
}

.rvw-text p::before {
    content: url('../images/reviews/quotation-marks.png');
    width: 54px;
    height: 40px;
}

.rvw-text {
    position: relative;
}

.rvw-text p {
    position: relative;
}

.rvw-text::after {
    content: url('../images/reviews/red-ellipsis.png');
    position: absolute;
    right: 48.5%;
 }

.review p {
    padding-top: 16px;
    font-family: var(--primary-font-size);
    font-size: var(--reviews-names-font-size);
    font-weight: var(--weight-fnt-medium);
}

.review img {
    margin-top: 120px;
    margin-bottom: 16px;
}

.dots {
    margin-top: 32px;
    margin-bottom: 120px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.dots a {
    text-decoration: none;
}
.dot {

    width: 12px;
    height: 12px;
    background: url('../images/reviews/grey-ellipse.png');
    text-decoration: none;
    border-radius: 50%;
    position: relative;
    margin-left: 10px;
    cursor: pointer;
    transition: background 0.6s ease;
}

.dot:visited,
.dot:hover,
.dot:active {
    background: url('../images/reviews/home.png');
}

.dot.active {
    background: url('../images/reviews/home.png');
}

// /* Don't need button navigation */
// @supports (scroll-snap-type) {
//     .carousel>a {
//         display: none;
//     }
// }


