.first-container{
    max-width: 1200px;
    height: 664px;
    text-decoration: none;
    list-style: none;
    position: relative;
    margin: 0 auto;
}

.header-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo-home {
    width: 199px;
    height: 50px;
    margin-top: 36px;
    margin-left: 16px;
}

.navigation-menu{
    display: flex; 
    flex-direction: row;
}

.nav-bar{
    display: flex;
    list-style: none;
    padding:0;
    font-family: var(--common-font);
    font-weight: var(--weight-fnt-common); 
    font-size: var(--primary-font-size);
    line-height: 1.2;
    color: var(--white);
    gap: 35px;
}

.nav-bar li{
    margin-right: 35px;
}

.navigation-menu .nav-bar:hover{
    color: var(--red-passion);
}

.navigation-menu .nav-bar li a{
    text-decoration: none;
}

.buy-button{
    position: relative;
    margin-left: auto;
    width: 159px;
    height: 44px;
}

.purchase-button {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-top: 36px;
    margin-right: 16px;
    background-color: var(--white);
    color: var(--red-passion);
    border-radius: 22px; 
    position: absolute;
    border-color: var(--white);
}

.purchase-button svg {
    width: 4px;
    height: 8px;
    margin-left: 12px; 
    fill: var(--red-passion);
}

.first-section-titles{
    font-family: var(--big-font);
    width: auto;
    height: auto;
    line-height: 1.1;
    margin-top: 60px;
    margin-left: 16px;
}

.first-title{
    font-size: var(--hero-span-font-size);
    color: var(--red-passion);
    display: block;
}

.third-title{
    font-size: var(--h1);
    color: var(--white);
}

.left-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20%;
    border-color: transparent;
    font-family: var(--common-font);
    font-size: var(--secondary-font-size);
    margin-top: 24px; /* Adjusted margin-top */
    margin-left: 16px;
}

.first-button{
    background-color: var(--red-passion);
    color: var(--white);
}

.second-button{
    background-color: var(--white);
    color: var(--red-passion);
}

.milk-photo{
    margin: 40px 0px 60px 16px;
    width: 213px;
    height: 216px;
}

.milk-text{
    font-family: var(--common-font);
    color: var(--white);
    font-size: var(--secondary-font-size);
    width: 200px;
    height: 78px;
}

.arrow-photo{
    width: 26px;
    height: 26px;
    margin-top: 20px;
    margin-left: 0;
}

.pink-big-elipse{
    background-color: var(--pink-elipse);
    width: 534px;
    height: 534px;
    border-radius: 50%;
    top: 54px;
    right: 159px;
    z-index: 0;
    position: absolute;
}

.ice-cream-cone{
    position: absolute;
    max-width: 236px;
    height: 557px;
    top: 50px;
    right: 122px; 
}
