
// .header{
//     background-color: rgba(255, 184, 202, 1); 
// }
.container{
    width: 100%;
    
    margin: 0 auto;
}
// a {
//     text-decoration: none;
// }

.logo-container {
    display: flex;
    justify-content: space-between;  
}

.nav-bar {
    display: flex;
    list-style: none; 
    padding: 0; 
    gap: 35px;
    width: 541px;
    height: 21px;
}
.nav-bar a{
    
    color: var(--white);
}

.nav-bar li {
    font-family: var(--big-font);
    font-size: var(--primary-font-size);
    font-weight: var(--weight-fnt-big);
    z-index: 1;
}

.nav-bar li:hover,
.nav-bar li:focus{
    color: var(--red-passion);
}

.logo-svg{
    width: 199px;
    height: 50px;
}

.buy-button{
    width: 159px;
    height: 44px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--white);
    border-radius: 22px;
    color: var(--red-passion);
    font-weight: var(--weight-fnt-big);
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-svg{
    width: 4px;
    height: 8px;
    stroke: var(--red-passion);
    margin-left: 12px;
}

.cup-of-milk{
    width:213px;
    height:216px;
}

.arrow-right{
    width: 26px;
    height: 26px;
}

.first-section-titles{
    width: 277px;
    height: 137px;
}

.third-title{
    font-family: var(--big-font);
    font-size: var(--h1);
    font-weight: var(--weight-fnt-common);
    color: var(--white);
}

.first-title {
    font-size: 58px;
    font-family: var(--big-font); 
    font-weight: var(--weight-fnt-big); 
    color: var(--red-passion);
}
.first-button{
    background-color: var(--white);
    border-color: var(--white);
    color: var(--red-passion);
    border-radius: 20px;
    width: 107px;
    height:40px;
    border: none;
    margin-right: 12px;
    margin-top: 24px;
}

.second-button{
    background-color: var(--white);
    border-color: var(--white);
    color: var(--red-passion);
    border-radius: 20px;
    width: 138px;
    height: 40px;
    border: none;
    margin-top: 24px;
}

.first-button:hover,
.second-button:hover,
.first-button:focus,
.second-button:focus{
    background-color: var(--red-passion);
    border-color: var(--red-passion);
    color: var(--white);
}

.milk-text{
    font-family: var(--common-font);
    color: var(--white);
    width: 200px;
    height: 78px;
    margin-top: 10px;
}

.text-arrow {
    display:flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 90px;
}

.milk-photo{
    width: 213px;
    height: 216px;
    margin-top: 40px;
}

.milk-can{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.elipse-hero{
    height: 543px;
    width: 543px;
    background-color: rgba(255, 165, 186, 1);
    border-radius: 50%;
    position: absolute;
    top: -70px;
    right: 295px;
    z-index: 0;
}
.hero-section{
    background-color: rgba(255, 184, 202, 1);
    width: 100%;
    height: 664px;
    padding: 37px 16px 0px 16px;
}

.hero-right{
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.icecream-cone{
    position: absolute;
    width: 237px;
    height: 557px;
    top: -15px;
    right: 465px;
}

.tasty-chiquita{
    position: absolute;
    width: 304px;
    height: 241px;
    right: 16px;
    top: 300px;
    right: 0px;
}

.cafes-elipse{
    width: 30px;
    height: 30px;
    background-color: var(--white);
    border-radius: 50%;
    position: absolute;
    top: 68px;
    right: 16px;
}

.food-elipse{
    width: 30px;
    height: 30px;
    background-color: var(--white);
    border-radius: 50%;
    position: absolute;
    top: 160px;
    right: 16px;
}

.food,
.cafes{
    color: var(--white);
}

.number{
    color: var(--red-passion);
    font-family: var(--big-font);
    font-size: var(--hero-section-numbers-font-size);
    width: 54px;
    height: 53px;
    letter-spacing: 0.04em;
}
.duo{
    display: flex;
    flex-direction: column;
    align-items: self-end;
    position: absolute;
    z-index: 1;
}
.cafes-group .duo{
    top: 72;
    right: 34;
}
.food-group .duo{
    top: 163;
    right: 34;
}