.subtitle {
  font-family: var(--big-font);
  font-size: 30px;
  font-weight: 400;
  color: var(--pink-elipse);
  line-height: 34.35px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0;
}

.h1-how-its-made {
  font-family: var(--big-font);
  font-weight: 400;
  font-size: 58px;
  color: var(--red-passion);
  text-align: center;
  line-height: 66.41px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
}

.subtitlu-how-its-made {
  text-align: center;
  margin-bottom: 16px;
  padding-top: 60px;
}

.how-its-made {
  background-color: #fff5f6;
  margin-bottom: 60px;
}

.container-img-p {
  display: flex;
  align-items: center;
  background-image: url(../images/how-it-is-made/milkyway-bg.png.png);
  background-size: cover;
  width: auto;
  position: relative;
}

.container-img-p img {
  width: 501px;
  height: 501px;
  margin-right: 20px;
}

.container-right {
  flex-grow: 1;
  padding-left: 80px;
}

.container-how-its-made {
  width: 100%;
  height: 1229px;
}

.p-how-its-made-1 {
  font: var(--common-font);
  font-weight: var(--weight-fnt-medium);
  font-size: var(--primary-font-size);
  color: var(--black);
  line-height: 28.16px;
  letter-spacing: 0.04em;
  font-weight: bold;
  grid-template-rows: repeat(4, 1fr);
  white-space: pre-line;
}

.p-how-its-made-2 {
  font: var(--common-font);
  font-weight: var(--weight-fnt-medium);
  font-size: var(--secondary-font-size);
  line-height: 27.16px;
  margin-bottom: 40px;
  letter-spacing: 0.04em;
  grid-template-rows: repeat(4, 1fr);
  white-space: pre-line;
}

.btn-read-more {
  margin-top: 40px;
  border: none;
  color: var(--red-button);
  font: var(--common-font);
  font-weight: var(--weight-fnt-big);
  font-size: var(--primary-font-size);
  line-height: 20.83px;
  background-color: var(--white);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 22px;
  cursor: pointer;
}

.btn-read-more:hover {
  cursor: pointer;

  background-color: var(--pink-elipse);
}

/* Section 3 Advantages */

.hidden-title {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
}

.h3-section3-advantages {
  font-family: var(--big-font);
  font-weight: 400;
  font-size: 58px;
  color: var(--red-passion);
  text-align: center;
  line-height: 66.41px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
}

.p-section3-advantages {
  font: var(--common-font);
  font-weight: var(--weight-fnt-big);
  font-size: var(--primary-font-size);
  line-height: 28.16px;
  letter-spacing: 0.02em;
  color: var(--black);
  letter-spacing: 0.02em;
  text-align: left;
}

.advantages-grid {
  background-color: var(--pink-made);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.advantage {
  text-align: center;
}

.advantage h3 {
  margin: 10px 0;
}

.advantage p {
  margin: 0;
}

.section3-advantages {
  width: 1200px;
  height: 1229px;
}

.advantages-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 20px; /* Gap between grid items */
}

.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.icon-production {
  width: 50px;
  height: 50px;
  background-image: url('../images/how-it-is-made/production.png');
  background-size: cover;
  margin-bottom: 10px;
}
.icon-icecream-apple {
  width: 50px;
  height: 50px;
  background-image: url('../images/how-it-is-made/icecream-apple.png');
  background-size: cover;
  margin-bottom: 10px;
}
.icon-flavours {
  width: 50px;
  height: 50px;
  background-image: url('../images/how-it-is-made/flavours.png');
  background-size: cover;
  margin-bottom: 10px;
}

.container-p1-how-its-made {
  width: 400px;
  height: 104px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: var(--pink-bg);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 40px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-read-more {
  background-color: var(--pink-bg);
  font: var(--common-font);
  font-weight: var(--weight-fnt-big);
  font-size: var(--primary-font-size);
  line-height: 28.16px;
  letter-spacing: 0.02em;
  color: var(--black);
  letter-spacing: 0.02em;
  text-align: left;
}
