.contacts {
    /*width: 1200px;*/
    margin: 0%;
    /*border: 2px solid black;*/
}

.empty-space {
    margin: 0%;
    background-color: var(--white);
    height:100px ;
    /*border: 2px solid blue;*/
}

.sct6 {  
    background: rgba($color: #000000, $alpha: 0.0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--pink-made);
    /*border: 2px solid aquamarine;*/
    position: relative;
    height: 720px;
}

.space-div {
    height: 460px;
}

.hidden-element {
    display: none;
}

.cards-sct6{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    /*border: 2px solid green;*/
    margin: 0%;
    margin-left: 0;
    padding-left: 0;
    position: absolute;
    z-index: 0;
    top: -15%;
    right: 20px;
    left: 20px;
}

.contacts-card {
    background: #FFFFFF;
    width: 31%;
    gap: 0px;
    border-radius: 24px 24px 24px 24px;
    opacity: 0px;
    box-shadow: 0px 8px 30px 0px #D414431A;
    padding: 40px;
}

.cafe-card {
    width: 75.1px;
    height: 28px;
    gap: 0px;
    border-radius: 6px 6px 6px 6px;
    opacity: 0px;
    background: var(--brown-ice-coffe);
    font-family: var(--common-font);
    font-size: var(--primary-font-size);
    font-weight: var(--weight-fnt-medium);
    line-height: 29.76px;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white);
}

.food-truck-card {
    width: 138px;
    height: 28px;
    gap: 0px;
    border-radius: 6px 6px 6px 6px;
    opacity: 0px;
    background: var(--green-milkshake);
    font-family: var(--common-font);
    font-size: var(--primary-font-size);
    font-weight: var(--weight-fnt-medium);
    line-height: 29.76px;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white);
}

.city-card {
    font-family: var(--common-font);
    font-size: var(--primary-font-size);
    font-weight: var(--weight-fnt-medium);
    line-height: 29.76px;
    letter-spacing: 0.04em;
    text-align: left;
    color: var(--black);
}

.text-card {
    font-family: var(--common-font);
    font-size: var(--primary-font-size);
    font-weight: var(--weight-fnt-medium);
    line-height: 29.28px;
    letter-spacing: 0.04em;
    text-align: left;
    color: var(--black-pink);
}

.days-card {
font-family: var(--common-font);
font-size: var(--primary-font-size);
font-weight: var(--weight-fnt-medium);
line-height: 29.76px;
letter-spacing: 0.04em;
text-align: left;
color: var(--black);
margin-bottom: 5px;
}

.hours-card {
    font-family: var(--common-font);
    font-size: var(--primary-font-size);
    font-weight: var(--weight-fnt-medium);
    line-height: 29.76px;
    text-align: left;
    color: var(--pink-elipse);
    margin-top: 0px;
    margin-bottom: 22px;
}

.anchor-card {
    text-decoration: none;
    font-family: var(--common-font);
    font-size: var(--primary-font-size);
    font-weight: var(--weight-fnt-medium);
    line-height: 29.28px;
    text-align: left;
    color: var(--black-pink);
}

.anchor-card:hover,
.anchor-card:focus {
    color: var(--red-passion);
}

.addreses-card {
    margin-top: 30px;
}

.contact-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: var(--pink-made);
}

.contact-btn-lct {
    width: 198px;
    height: 44px;
    gap: 0px;
    border-radius: 22px 22px 22px 22px;
    opacity: 0px;
    background-color: var(--red-button);
    font-family: var(--common-font);
    font-size: var(--primary-font-size);
    font-weight: var(--weight-fnt-big);
    line-height: 20.83px;
    text-align: center;
    color: var(--white);
    border: 2px solid var(--white)
}

.contact-btn-frcs {
    width: 168px;
    height: 44px;
    gap: 0px;
    border-radius: 22px 22px 22px 22px;
    opacity: 0px;
    background-color: var(--white);
    font-family: var(--common-font);
    font-size: var(--primary-font-size);
    font-weight: var(--weight-fnt-big);
    line-height: 20.83px;
    text-align: center;
    color: var(--red-passion);
    border: 2px solid var(--white);
}

/* MODALLS SECTION 6*/

.modal-sct6 {
    display: none;
    transform: scale(1.1);
    position: fixed;
    top: 10%;
    left: 45%;
    border-radius: 4px;
    box-shadow: 0 8px 30px #d414431a;
    background-color: var(--pink-made);
    padding: 2%;
    opacity: 1;
    border: 1px solid var(--pink-borders);
}

.modal1-sct6 {
    width: 30%;
    height: 80%;
}

.modal2-sct6 {
    width: 45%;
    height: 80%;
}

.sct6-modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 500;
}

.sct6-modal-input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--pink-borders);
    outline: none;
}

.sct6-close-btn {
    width: 24px;
    height: 24px;
    background-color: var(--white);
    border-radius: 50%;
    border: 1px solid var(--pink-modal);
    font-family: var(--common-font);
    font-size: var(--h2);
    line-height: 20.83px;
    text-align: center;
    color: var(--pink-modal);
}

.sct6-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#harta {
    max-width: 100%;
    border:1px solid var(--pink-modal);
}

#title-modal {
    font-family: var(--common-font);
    font-size: var(--h2);
    line-height: 20.83px;
    text-align: center;
    color: var(--red-passion);
}

#text-adress {
    color: var(--red-passion);
    margin-top: 10px;
}

.sct6-modal-btn {
    border-radius: 22px 22px 22px 22px;
    opacity: 0px;
    background-color: var(--white);
    font-family: var(--common-font);
    font-size: var(--primary-font-size);
    font-weight: var(--weight-fnt-big);
    line-height: 20.83px;
    text-align: center;
    color: var(--red-passion);
    border: 2px solid var(--red-button);
    margin-top: 5%;
}

.sct6-modal-lbl-txt {
    margin-bottom: 0px;
}

.modal-form-container {
    width: 90%;
}

.sct6-modal-lbl-txt {
    font-family: var(--common-font);
    font-size: var(--primary-font-size);
    font-weight: var(--weight-fnt-big);
    line-height: 20.83px;
    color: var(--red-passion);
}