// :root {
//   --common-font: 'DM Sans', sans-serif;
//   --big-font: 'Titan One', sans-serif;
//   --primary-font-size: 16px;
//   --secondary-font-size: 14px;
//   --h1: 38px;
//   --h2: 30px;
//   --hero-span-font-size: 58px;
//   --hero-section-numbers-font-size: 46px;
//   --reviews-names-font-size: 20px;
//   --weight-fnt-common: 400;
//   --weight-fnt-medium: 500;
//   --weight-fnt-big: 700;
//   --white: #ffffff;
//   --black: #000000;
//   /* brackground roz in Frame 3 rectangle 2*/
//   --pink-bg: #ffb8ca;
//   /* roz in Frame 3 Elipse 3*/
//   --pink-elipse: #ffa5ba;
//   /* Culoarea meniului cand avem hover și
//     pentru fonturile big */
//   --red-passion: #d41443;
//   /* culoare fundal buton Our Location */
//   --red-button: #d41342;

//   /* culoare pentru cele trei puncte de la testimoniale*/
//   --pink-red: #c7133e;
//   /*culoare pentru svg-ul home de la testimoniale */
//   --pink-purple: #d31342;
//   /* culoare fundal pentru svg-urile din ultima secțiune*/
//   --pink-svg: #fea5bb;
//   /* fundalul la modalul icecream-open-burger*/
//   --pink-modal: #e17992;
//   /* culoarea bordurilor de la meniurile din modale */
//   --pink-borders: #e18298;

//   /* Fundalul pentru ICE-COFFE */
//   --brown-ice-coffe: #f0d1a5;
//   /* Fundalul pentru MILKSHAKE */
//   --green-milkshake: #c2e297;
//   /* Fundalul pentru HOW IT'S MADE? */
//   --pink-made: #fff5f6;
//   /* culoare pentru paragraful explicativ de
//    la HOW IT'S MADE? */
//   --black-pink: #907e82;
//   /* culoare fundal la mesajul de la testimoniale*/
//   --cloudy: #fafafa;
//   /* Griul de la testimoniale */
//   --grey: #d9d9d9;
//   /* Bordura recenziilor */
//   --reviews-border: #e1e1e1;
// }

* {
  font-family: var(--common-font);
  font-size: var(--primary-font-size);
  font-weight: var(--weight-fnt-medium);
}

.subtitle {
  font-family: var(--big-font);
  font-size: 30px;
  font-weight: 400;
  color: var(--pink-elipse);
  line-height: 34.35px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0;
}

.h1-how-its-made {
  font-family: var(--big-font);
  font-weight: 400;
  font-size: 58px;
  color: var(--red-passion);
  text-align: center;
  line-height: 66.41px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
}

.subtitlu-how-its-made {
  text-align: center;
  margin-bottom: 16px;
}

.how-its-made {
  background-color: #fff5f6;
  margin-bottom: 60px;
}

.container-img-p {
  display: flex;
  align-items: center;
  background-image: url(../images/how-it-is-made/milkyway-bg.png.png);
  background-size: cover;

  position: relative;
}

.container-img-p img {
  width: 501px;
  height: 501px;
  margin-right: 20px;
}

.container-right {
  flex-grow: 1;
  margin-bottom: 70px;
  margin-left: 99px;
}

.container-right p {
  margin-bottom: 10px;
}

.container-how-its-made {
  width: 100%;
  height: 1229px;
}

.p-how-its-made-1 {
  font: var(--common-font);
  font-weight: var(--weight-fnt-medium);
  font-size: var(--primary-font-size);
  color: var(--black);
  line-height: 28.16px;
  white-space: pre-line;
  margin-bottom: 32px;
  letter-spacing: 0.04em;
  font-weight: bold;
  grid-template-rows: repeat(4, 1fr);
}

.p-how-its-made-2 {
  font: var(--common-font);
  font-weight: var(--weight-fnt-medium);
  font-size: var(--secondary-font-size);
  line-height: 27.16px;
  white-space: pre-line;
  margin-bottom: 40px;
  letter-spacing: 0.04em;
  grid-template-rows: repeat(4, 1fr);
}

.btn-read-more {
  margin-top: 40px;
  border: none;
  color: var(--red-button);
  font: var(--common-font);
  font-weight: var(--weight-fnt-big);
  font-size: var(--primary-font-size);
  line-height: 20.83px;
  background-color: var(--white);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 22px;
  cursor: pointer;
}

.btn-read-more:hover {
  cursor: pointer;

  background-color: var(--pink-elipse);
}

/* Section 3 Advantages */

.hidden-title {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
}

.h3-section3-advantages {
  font-family: var(--big-font);
  font-weight: 400;
  font-size: 58px;
  color: var(--red-passion);
  text-align: center;
  line-height: 66.41px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0;
}

.p-section3-advantages {
  font: var(--common-font);
  font-weight: var(--weight-fnt-big);
  font-size: var(--primary-font-size);
  line-height: 28.16px;
  letter-spacing: 0.02em;
  color: var(--black);
  letter-spacing: 0.02em;
  text-align: left;
}

.advantages-grid {
  background-color: var(--pink-made);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.advantage {
  text-align: center;
}

.advantage h3 {
  margin: 10px 0;
}

.advantage p {
  margin: 0;
}

.section3-advantages {
  width: 1200px;
  height: 1229px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: var(--pink-bg);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 40px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-read-more {
  background-color: var(--pink-bg);
  font: var(--common-font);
  font-weight: var(--weight-fnt-big);
  font-size: var(--primary-font-size);
  line-height: 28.16px;
  letter-spacing: 0.02em;
  color: var(--black);
  letter-spacing: 0.02em;
  text-align: left;
}