:root {
    --common-font: "DM Sans", sans-serif;
    --big-font: "Titan One", sans-serif;
    --primary-font-size:16px;
    --secondary-font-size: 14px;
    --h1: 38px;
    --h2: 30px;
    --hero-span-font-size: 58px;
    --hero-section-numbers-font-size: 46px;
    --reviews-names-font-size: 20px;
    --weight-fnt-common: 400;
    --weight-fnt-medium: 500;
    --weight-fnt-big: 700;
    --white: #ffffff;
    --black: #000000;
    /* brackground roz in Frame 3 rectangle 2*/
    --pink-bg: #FFB8CA;
    /* roz in Frame 3 Elipse 3*/
    --pink-elipse: #FFA5BA;
    /* Culoarea meniului cand avem hover și 
    pentru fonturile big */
    --red-passion: #D41443;
    /* culoare fundal buton Our Location */
    --red-button: #D41342;

    /* culoare pentru cele trei puncte de la testimoniale*/
    --pink-red: #C7133E;
    /*culoare pentru svg-ul home de la testimoniale */
    --pink-purple: #D31342;
    /* culoare fundal pentru svg-urile din ultima secțiune*/
    --pink-svg: #FEA5BB;
    /* fundalul la modalul icecream-open-burger*/
    --pink-modal: #E17992;
    /* culoarea bordurilor de la meniurile din modale */
    --pink-borders: #E18298;


    /* Fundalul pentru ICE-COFFE */
    --brown-ice-coffe: #F0D1A5;
    /* Fundalul pentru MILKSHAKE */
    --green-milkshake: #C2E297;
    /* Fundalul pentru HOW IT'S MADE? */
    --pink-made: #FFF5F6;
    /* culoare pentru paragraful explicativ de
   la HOW IT'S MADE? */
    --black-pink: #907E82;
    /* culoare fundal la mesajul de la testimoniale*/
    --cloudy: #E1E1E1;

    /* Griul de la testimoniale */
    --grey: #D9D9D9;
}