.footer-bg {
    background-color: var(--pink-made);
}

.footer-container {
    position: relative;
    display: flex;
    flex-direction: column;
    // padding-top: 720px;
}

.top-footer {
    width: 100%;
    position: absolute;
    top: -12%;
}

.medium-footer {
    display: flex;
    flex-direction: row;
}

.left-footer {
    width: 40%;
    padding-left: 20px;
}
.central-footer {
    width: 26%;
}

.right-footer {
    width: 34%;
}

.motto1 {
    font-family: var(--big-font);
    font-size: var(--h2);
    font-weight: var(--weight-fnt-common);
    line-height: 34.35px;
    letter-spacing: 0.04em;
    text-align: left;
    color: var(--pink-elipse);

}

.motto2 {
    font-family: var(--big-font);
    font-size: var(--hero-span-font-size);
    font-weight: var(--weight-fnt-common);
    line-height: 66.41px;
    letter-spacing: 0.06em;
    text-align: left;
    color: var(--red-passion);
    margin: 10px 0px 10px 0px;
}

.social-media {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social-links-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.social-icon {
    width: 20px;
    height: 20px;
    gap: 18px;
    opacity: 0px;
    fill: var(--white);
}

.social-link-items {
    width: 34px;
    height: 34px;
    padding: 7px 0px 0px 7px;
    background-color: var(--pink-svg);
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 20px;
}

.social-link-items:hover,
.social-link-items:visited {
    background-color: var(--red-passion);
}

.contact-message {
    text-align: right;
    padding-right: 20px;
    font-family: var(--common-font);
    font-size: var(--primary-font-size);
    font-weight: var(--weight-fnt-big);
    line-height: 29.76px;
    letter-spacing: 0.02em;
}

.phone {
    text-decoration: none;
    color: var(--red-passion);
}

.line {
    width: 95%;
    height: 2px;
}

.bottom-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.copyright {
    font-family: var(--common-font);
    font-size: var(--secondary-font-size);
    font-weight: var(--weight-fnt-big);
    line-height: 26.04px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--black-pink);
}