@import './common';
@import './example';

@import './variables';

@import './modern-normalize';

@import './section-1-head';

//@import './modal-favicon';

@import './products';

@import './section3';
@import './gallery';
@import './reviews';
@import './section6';
@import './footer';
