@import './common';
@import './example';
@import './products';
@import './variables';
@import './gallery';
@import './reviews';
@import './section6';
@import './section-1-head';
@import './section3';
@import './footer.scss';
@import './modern-normalize';

