
.products {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.products label {
    text-transform: uppercase;
    font-family: Titan One;
    font-size: 30px;
    font-weight: 400;
    line-height: 34.35px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFA5BA;
    margin-bottom: 32px;
    margin-top: 61px;
}

.products h1 {
    text-transform: uppercase;
    font-family: Titan One;
    font-size: 58px;
    font-weight: 400;
    line-height: 66.41px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #D41443;
    margin: 0;
}

.product h2 {
    font-family: Titan One;
    font-size: 30px;
    font-weight: 400;
    line-height: 34.35px;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 0;
}

.product h2::after {
    content: "...";
    color: #ffffff;
    display: block;
    margin-top: 16px;
    margin-bottom: 32px;
}

.product p {
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 28.16px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding: 0 16px;

}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 24px;
    width: 368px;
    position: relative;
    margin-top: 281px;
    padding-top: 165px;
}

.card-1 {
    background: #FFB8CA;
}
.card-2 {
    background: #F0D1A5;
}
.card-3 {
    background: #C2E297;
}

.products-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;
    gap: 32px;
}

.expand-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    color: #D41443;
    text-align: center;
    margin-left: 45%;
    margin-bottom: 60px;
    margin-top: 60px;
}

.expand-btn:hover {
    background-color: rgb(218, 209, 209);
}

.card-1 h2::before {
    content: url(../images/products/ice-cream.png);
    position: absolute;
    margin-top: -460px;
    margin-left: -94px;
}

.card-2 h2::before {
    content: url(../images/products/ice-coffee.png);
    position: absolute;
    margin-top: -460px;
    margin-left: -92px;
}

.card-3 h2::before {
    content: url(../images/products/milkshakes.png);
    position: absolute;
    margin-top: -460px;
    margin-left: -78px;
}

.expand-btn svg {
    width: 20px;
    fill: #D41443;
    margin-top: -55px;
}

.back-btn {
    color: #D41443;
    background-color: #ffffff;
    width: 80px;
    border: none;
    text-align: center;
    margin-left: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
}