<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <footer>
    <!-- Footer section -->
    <div class="footer-container">
      <div class="top-footer"></div>
      <div class="left-footer">
        <h2>HOME MADE ICE CREAM MADE</h2>
        <p>WITH PASSION</p>
      </div>
      <div class="right-footer"></div>
      <div class="social-media-icons">
        <ul class="social-links-list">
          <li>
            <a href="https://www.github.com/" target="_blank" class="social-icon" aria-label="github-link">
              <svg>
                <use href="/src/images/icons/symbol-defs.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.telegram.com/" target="_blank" class="social-icon" aria-label="twitter-link">
              <svg>
                <use href="/src/images/icons/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/" target="_blank" class="social-icon" aria-label="facebook-link">
              <svg>
                <use href="/src/images/icons/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    <div class="footer-contacts">
      <p>Feel free to contact <span><a href="tel:+61(0)383766284">+61 (0) 383 766 284</a></span></p>
    </div>
    </div>
    <div class="copyright">
      <p>&copy; 2022 - IceCream. All Rights Reserved</p>
    </div>
    </div>
  </footer>
</body>
</html>

