<p>HOME MADE ICE CREAM MADE</p>
<p>WITH PASSION</p>
<p>&copy 2022 - IceCream. All Rights Reserved</p>

<ul class="social-links-list">
  <li>
    <a
      href="https://www.facebook.com/"
      target="_blank"
      class="social-icon"
      aria-label="twitter-link"
    >
      <svg>
        <use href="/src/SVGs/symbol-defs.svg#icon-github"></use>
      </svg>
    </a>
  </li>
  <li>
    <a
      href="https://www.facebook.com/"
      target="_blank"
      class="social-icon"
      aria-label="twitter-link"
    >
      <svg>
        <use href="/src/SVGs/symbol-defs.svg#icon-twitter"></use>
      </svg>
    </a>
  </li>
  <li>
    <a
      href="https://www.facebook.com/"
      target="_blank"
      class="social-icon"
      aria-label="twitter-link"
    >
      <svg>
        <use href="/src/SVGs/symbol-defs.svg#icon-facebook"></use>
      </svg>
    </a>
  </li>
</ul>
