<div>
  <div>
    <p>HOME MADE ICE CREAM MADE</p>
    <p>WITH PASSION</p>
  </div>
  <div>
    <ul class="social-links-list">
      <li>
        <a
          href="https://www.github.com/"
          target="_blank"
          class="social-icon"
          aria-label="github-link"
        >
          <svg>
            <use href="/src/images/icons/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.telegram.com/"
          target="_blank"
          class="social-icon"
          aria-label="twitter-link"
        >
          <svg>
            <use href="/src/images/icons/symbol-defs.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/"
          target="_blank"
          class="social-icon"
          aria-label="facebook-link"
        >
          <svg>
            <use href="/src/images/icons/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <div>
    <span>Feel free to contact</span>
    <span><a href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a></span>
  </div>
</div>
<div>
  <p>&copy 2022 - IceCream. All Rights Reserved</p>
</div>
