
    <!-- <button id="openModal">Deschide Modal</button> -->
    <div id="modal" class="modal-buy-now">
      <div class="modal-content">
        <img class="logo-intreg" src=".\images\header\group.png" alt="">
        <span class="close">&times;</span>
        <div class="container-buy-now">
          <input type="radio" name="slider" id="item-1" checked>
          <input type="radio" name="slider" id="item-2">
          <input type="radio" name="slider" id="item-3">
          <div class="cards">
            <label class="card" for="item-1" id="song-1">
              <img src="./images/products/ice-cream.png" alt="desert">
            </label>
            <label class="card" for="item-2" id="song-2">
              <img src="./images/products/milkshakes.png" alt="desert">
            </label>
            <label class="card" for="item-3" id="song-3">
              <img src="./images/products/ice-coffee.png" alt="desert">
            </label>
          </div>
        </div>
        <div class="grid">
          <form method="POST" class="form login">
            <div class="form_field">
              <label><i class="fa fa-user" style="color: #606468;"></i></label>
              <input type="text" name="username" class="form_input" placeholder="Username" required>
            </div>
            <div class="form_field">
              <label><i class="fa fa-lock" style="color: #606468;"></i></label>
              <input type="password" name="password" class="form_input" placeholder="Password" required>
            </div>
            <div class="form_field">
              <button class="submitButton" type="submit">Submit</button>
            </div>
          </form>
          <p class="text--center">Not a member? <a href="https://www.google.IceCream-Project-Team1"
              class="register">Register</a></p>
        </div>
      </div>
    </div>
