<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="../sass/products.css">
</head>
<body>
    <div class="products">
        <label for="products-title">100% natural</label>
        <h1 id="products-title">products</h1>
        <div class="products-container">
            <div class="product">
                <img src="../images/products/ice-cream.png" alt="Ice-cream">
                <h2>ice cream</h2>
                <p>Indulge in our rich and creamy ice cream, handcrafted with
                   all-natural ingredients and available in a variety of flavors.
                </p>
                <button class="expand-btn">&#8594;</button>
            </div>
            <div class="product">
                <img src="../images/products/ice-coffee.png" alt="Ice-coffee">
                <h2>ice coffee</h2>
                <p>Refresh and energize with our perfectly brewed iced coffee,
                   made with high-quality beans and served over ice.
                </p>
                <button class="expand-btn">&#8594;</button>
            </div>
            <div class="product">
                <img src="../images/products/milkshakes.png" alt="milkshakes">
                <h2>milkshakes</h2>
                <p>Satisfy your sweet tooth with our thick, made with premium 
                   ice cream, topped with whipped cream and your favorite toppings.
                </p>
                <button class="expand-btn">&#8594;</button>
            </div>
        </div>
    </div>
</body>
</html>