<html lang="en">

<body>
    <section id="section2">
    <div class="products">
        <label for="products-title">100% natural</label>
        <h1 id="products-title">products</h1>
        <div class="products-container">
            <div class="product card-1">
                <h2>ice cream</h2>
                <p class="initial-description">Indulge in our rich and creamy ice cream, handcrafted with
                   all-natural ingredients and available in a variety of flavors.
                </p>
                <button class="expand-btn" onclick="showDescription(this)" title="Show all description" 
                data-descriere-completa="We welcome you with a variety of vibrant tastes,from sweet strawberries and juicy 
                mangoes to peaches and exotic kiwi. Each mouthful will surprise you with its rich and creamy flavor,
                combined with the freshness of natural fruits. With our Ice Cream, every taste becomes an experience 
                full of joy and satisfaction. Choose to indulge your senses with the most delicios ice cream cone,
                available only for you!">
                    <svg>
                        <use href="./images/icons/symbol-defs-100.svg#icon-right-arrow"></use>
                    </svg>
                </button>
            </div>
            <div class="product card-2">
                <h2>ice coffee</h2>
                <p class="initial-description">Refresh and energize with our perfectly brewed iced coffee,
                   made with high-quality beans and served over ice.
                </p>
                <button class="expand-btn" onclick="showDescription(this)" title="Show all description" 
                data-descriere-completa=" Whether you're starting your day or need a mid-afternoon pick-me-up, our ice
                 coffee is the perfect companion. Savor the rich aroma and bold flavor of our carefully selected beans,
                  expertly brewed to perfection. With each sip, you'll experience a delightful balance of smoothness and
                 invigorating caffeine kick. Treat yourself to the ultimate refreshment with our irresistible ice coffee,
                  crafted to awaken your senses and keep you feeling revitalized throughout the day.">
                    <svg>
                        <use href="./images/icons/symbol-defs-100.svg#icon-right-arrow"></use>
                    </svg>
                </button>
            </div>
            <div class="product card-3">
                <h2>milkshakes</h2>
                <p class="initial-description">Satisfy your sweet tooth with our thick, made with premium 
                   ice cream, topped with whipped cream and your favorite toppings.
                </p>
                <button class="expand-btn" onclick="showDescription(this)" title="Show all description" 
                data-descriere-completa="With every indulgent gulp, you'll discover a perfect balance between creaminess
                 and sweetness, creating a blissful sensation that lingers on your palate. Whether you're treating
                  yourself to a midday delight or enjoying a late-night indulgence, our milkshakes are the perfect
                   companion for any occasion. Elevate your dessert experience and satisfy your cravings with our
                    heavenly milkshakes, meticulously crafted to bring joy to every sip.">
                    <svg>
                        <use href="./images/icons/symbol-defs-100.svg#icon-right-arrow"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <script src="./index.js" type="text/javascript"></script>
    </section>
</body>
</html>