<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
</head>
<body>
    <!-- 'Slider for reviews' -->
    <div class="slider">
        <div class="slide">
            <img src="./images/reviews/testimonials1.png" 
            alt="Emily"
            width="85"
            height="85">

            <div class="review">
            <p>I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you have beautiful serving, cozy atmosphere and polite staff.</p>
            <img src="./images/reviews/red-ellipse.png" alt="red-ellipse" width="4" height="4">
            <img src="./images/reviews/red-ellipse.png" alt="red-ellipse" width="4" height="4">
            <img src="./images/reviews/red-ellipse.png" alt="red-ellipse" width="4" height="4">
            </div>

            <p>Emily, Los Angeles</p>
            </div>

        <div class="slide">

            <img src="./images/reviews/testimonials2.png" 
            alt="Rachel" 
            width="85" 
            height="85">

            <div class="review">
                <p>As an ice cream enthusiast, I'm always on the lookout for new flavors, and the this company never fails to impress. Their unique seasonal offerings are always a treat to try. The pumpkin spice flavor they had last fall was out of this world</p>
                <img src="./images/reviews/red-ellipse.png" alt="red-ellipse" width="4" height="4">
                <img src="./images/reviews/red-ellipse.png" alt="red-ellipse" width="4" height="4">
                <img src="./images/reviews/red-ellipse.png" alt="red-ellipse" width="4" height="4">
                </div>

                <p>Rachel, New York</p>
        </div>

        <div class="slide">

            <img src="./images/reviews/testimonials3.png" 
            alt="Tammy" 
            width="85" 
            height="85">

            <div class="review">
                <p>Hands down, the best ice cream I've ever had! It never disappoints. Their commitment to using high-quality ingredients really shines through in every scoop. I'm a loyal customer for life!</p>
                <img src="./images/reviews/red-ellipse.png" alt="red-ellipse" width="4" height="4">
                <img src="./images/reviews/red-ellipse.png" alt="red-ellipse" width="4" height="4">
                <img src="./images/reviews/red-ellipse.png" alt="red-ellipse" width="4" height="4">
                </div>

                <p>Tammy, Philadelphia</p>
        </div>

        <div class="">
            <a href="" target="_blank" class="icons" aria-label="">
                <svg>
                    <use href="./images/icons/symbol-defs.svg#icon-home"></use>
                </svg>
            </a>
            <a href="" target="_blank" class="icons" aria-label="">
                <svg>
                    <use href="./images/icons/symbol-defs.svg#icon-grey-ellipse"></use>
                </svg>
            </a>
            <a href="" target="_blank" class="icons" aria-label="">
                <svg>
                    <use href="./images/icons/symbol-defs.svg#icon-grey-ellipse"></use>
                </svg>           
        </div>
    </div>
</body>
</html>