<head>
    <link rel="stylesheet" href="..\sass\_section1.css">
</head>
<section class="section1">
    <nav>
        <div class="first-container">
        <div class="header-container">
            <svg class="logo-home">
                <use href="../images/icons/symbol-defs.svg#icon-logo-header"></use>
            </svg>
            <nav class="navigation-menu">
                <ul class="nav-bar">
                    <li><a href="index.html" class="active">Home</a></li>
                    <li><a href="#section4" class="active">About us</a></li>
                    <li><a href="#section3" class="active">How it's made</a></li>
                    <li><a href="#section2" class="active">Our Products</a></li>
                    <li><a href="#section6" class="active">Contacts</a></li>
                </ul>
            </nav>
            <div class="buy-button">
                <button class="purchase-button">Buy Now
                    <svg class="pink-arrow">
                        <use href="../images/icons/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        </div>
    </nav>
    <div class="hero-down">
        <div class="first-section-titles">
            <h1 class="third-title">Ice Cream Made With <span class="first-title">Passion</span>
            </h1>
        </div>
        <div class="left-buttons">
            <button href="#section2" class="first-button active">Products</button>
            <button href="#section3" class="second-button active">How it's made?</button>
        </div>
        <div class="milk-can"> <img src="../images/header/milk-can.png"
        alt="can with milk"
        width="213"
        height="216"
        class="milk-photo">
        <p class="milk-text">Indulge in a scoop of ice cream made with passion and treat your taste buds to an unforgettable experience!</p>
        <img src="../images/header/arrow-right.png"
        alt="white right arrow"
        width="26"
        height="26"
        class="arrow-photo">
    </div>
    </div>
    <div class="hero-middle">
        <div class="cone-of-icecream">
            <span class="pink-big-elipse"></span>
            <img src="../images/header/ice-cream-header.png"
            alt="ice-cream-cone">
        </div>
        <div class="hero-caffe-trucks">
            <ul>
                <li>
                    <div class="cafes">
                        <span class="cafe-elipse"></span>
                        <div class="both">
                        <span class="right-caffe">16</span>
                        <span class="hero-right-text">cafes</span>
                    </div>
                    </div>
                </li>
                <li>
                    <div class="trucks">
                        <span class="trucks-elipse"></span>
                        <div class="both">
                        <span class="right-truck">23</span>
                        <span class="hero-right-text">food trucks</span>
                    </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tasty-chiquita">
            <img src="../images/header/chiquita.png"
            alt="girl-eating-ice-cream">
        </div>
    </div>
</section>