<html lang="ro">
  <body>
    <section class="sct6">
        <h1 class="hidden-element">CONTACTS</h1>
        <ul class="cards">
            <!--Card 1-->
            <li class="contacts-card">
                <div class="cafe-card">
                    <p>CAFE</p>
                </div>
                <div>
                    <h3 class="city-card">Chicago</h3>
                    <p class="text-card">Handcrafted coffee, baked goods,<br> and premium ice cream.</p>
                </div>
                <svg width="288" height="2" viewBox="0 0 288 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 1H288" stroke="#E1E1E1"/>
                </svg>
                <div>
                    <div>
                        <h3 class="days-card">Monday - Friday</h3>
                        <p class="hours-card">06:00 AM - 10:00 PM</p>
                    </div>
                    <div>
                        <h3 class="days-card">Saturday - Sunday</h3>
                        <p class="hours-card">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <svg width="288" height="2" viewBox="0 0 288 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 1H288" stroke="#E1E1E1"/>
                </svg>
                <div class="addreses-card">
                    <a href="tel:+610383766284" class="anchor-card">+61(0) 383 766 284</a><br>
                    <a href="mailto:noreply@envato.com" class="anchor-card">noreply@envato.com</a>
                </div>
            </li>
            <!--Card 2-->
            <li class="contacts-card">
                <div class="food-truck-card">
                    <p>FOOD TRUCK</p>
                </div>
                <div>
                    <h3 class="city-card">Los Angeles</h3>
                    <p class="text-card">Fusion cuisine and refreshing<br> ice cream made with passion.</p>
                </div>
                <svg width="288" height="2" viewBox="0 0 288 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 1H288" stroke="#E1E1E1"/>
                </svg>
                <div>
                    <div>
                        <h3 class="days-card">Monday - Friday</h3>
                        <p class="hours-card">06:00 AM - 10:00 PM</p>
                    </div>
                    <div>
                        <h3 class="days-card">Saturday - Sunday</h3>
                        <p class="hours-card">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <svg width="288" height="2" viewBox="0 0 288 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 1H288" stroke="#E1E1E1"/>
                </svg>
                <div class="addreses-card">
                    <a href="tel:+610383766284" class="anchor-card">+61(0) 383 766 284</a><br>
                    <a href="mailto:noreply@envato.com" class="anchor-card">noreply@envato.com</a>
                </div>
            </li>
            <!--Card 3-->
            <li class="contacts-card">
                <div class="cafe-card">
                    <p>CAFE</p>
                </div>
                <div>
                    <h3 class="city-card">New York</h3>
                    <p class="text-card">Specialty teas, artisanal pastries,<br> mouth-watering ice cream.</p>
                </div>
                <svg width="288" height="2" viewBox="0 0 288 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 1H288" stroke="#E1E1E1"/>
                </svg>
                <div>
                    <div>
                        <h3 class="days-card">Monday - Friday</h3>
                        <p class="hours-card">06:00 AM - 10:00 PM</p>
                    </div>
                    <div>
                        <h3 class="days-card">Saturday - Sunday</h3>
                        <p class="hours-card">08:00 AM - 16:00 PM</p>
                    </div>
                </div>
                <svg width="288" height="2" viewBox="0 0 288 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 1H288" stroke="#E1E1E1"/>
                </svg>
                <div class="addreses-card">
                    <a href="tel:+610383766284" class="anchor-card">+61(0) 383 766 284</a><br>
                    <a href="mailto:noreply@envato.com" class="anchor-card">noreply@envato.com</a>
                </div>
            </li>
        </ul>
        <!--butoane-->
        <div class="contact-buttons">
            <button class="contact-btn-lct">Our Locations &nbsp;></button>
            <button class="contact-btn-frcs">Franchise &nbsp;></button>
        </div>
    </section>    
  </body>
</html>
