
<header class="header">
    <div class="container">
        <div class="header-container">
            <a href="index.html">
                <svg class="logo-svg"> <use href="/src/images/icons/symbol-defs.svg#icon-logo-header"> </use></svg>
            </a>
                <nav>
                    <ul class="nav-bar">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#section3">How it's made?</a></li>
                        <li><a href="#section2">Our Products</a></li>
                        <li><a href="#section6">Contacts</a></li>
                    </ul>
                </nav>
                <button class="buy-button" type="button" id="openModal">Buy Now
                <svg class="button-svg">
                    <use href="/src/images/icons/symbol-defs.svg#icon-arrow-right"></use></svg>
            </button>
            </div>
        </div>
</header>
<section class="hero">
    <div class="hero-right">
        <div class="container">
            <div class="hero-left">
                <div class="first-section-titles">
                <h1 class="third-title">ICE CREAM MADE WITH
                <span class="first-title">PASSION</span></h1>
            </div>
                <button class="first-button">Products</button>
                <button class="second-button">How it's made?</button>
                <div class="milk-can">
                    <div class="milk-photo"> 
                        <img class="cup-of-milk" 
                        src="/src/images/header/milk-can.png"
                        alt="Cup-of-milk">
                    </div>
                    <div class="text-arrow">
                        <p class="milk-text">Indulge in a scoop of ice cream made with passion and treat your taste buds to an unforgettable experience!</p>
                        <img class="arrow-right" src="/src/images/header/arrow-right.png" alt="arrow-to-right">
                    </div>
                </div>
            </div>
            <div class="cafes-group">
                <div class="duo">
                    <span class="number">16</span>
                    <span class="cafes">cafes</span>
                </div>
                <span class="cafes-elipse"></span>
            </div>
            <div class="food-group">
                <div class="duo">
                    <span class="number">23</span>
                    <span class="food">food trucks</span>
                </div>
            </div>
            <span class="food-elipse"></span>
            <div class="elipse-hero"> <span></span></div>
            <div class="pic">
                <img class="tasty-chiquita" src="/src/images/header/chiquita.png" alt="girl-enjoying-ice-cream"/>
                <img class="icecream-cone" src="/src/images/header/ice-cream-header.png" alt="cone-of-ice-cream"/>
            </div>
        </div>
    </div>
</section>