<html lang="en">
  <body>
   
<section class="contacts" id="section6">
    <div class="empty-space"></div>
    <div class="sct6">
        <h1 class="hidden-element">CONTACTS</h1>
        <ul class="cards-sct6">
            <!--Card 1-->
            <li class="contacts-card">
                <div class="cafe-card">
                    <p>CAFE</p>
                </div>
                <div>
                    <h3 class="city-card">Chicago</h3>
                    <p class="text-card">Handcrafted coffee, baked goods,<br> and premium ice cream.</p>
                </div>
                <svg width="288" height="2" viewBox="0 0 288 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 1H288" stroke="#E1E1E1"/>
                </svg>
                <div>
                    <!-- <div>
                        <h3 class="city-card">Chicago</h3>
                        <p class="text-card">Handcrafted coffee, baked goods,<br> and premium ice cream.</p>
                    </div>
                    <svg width="288" height="2" viewBox="0 0 288 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1H288" stroke="#E1E1E1"/>
                    </svg>
                    <div> -->
                        <div>
                            <h3 class="days-card">Monday - Friday</h3>
                            <p class="hours-card">06:00 AM - 10:00 PM</p>
                        </div>
                        <div>
                            <h3 class="days-card">Saturday - Sunday</h3>
                            <p class="hours-card">08:00 AM - 16:00 PM</p>
                        </div>
                    </div>
                    <svg width="288" height="2" viewBox="0 0 288 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1H288" stroke="#E1E1E1"/>
                    </svg>
                    <div class="addreses-card">
                        <a href="tel:+610383766284" class="anchor-card">+61(0) 383 766 284</a><br>
                        <a href="mailto:noreply@envato.com" class="anchor-card">noreply@envato.com</a>
                    </div>
                </li>
                <!--Card 2-->
                <li class="contacts-card">
                    <div class="food-truck-card">
                        <p>FOOD TRUCK</p>
                    </div>
                    <div>
                        <h3 class="city-card">Los Angeles</h3>
                        <p class="text-card">Fusion cuisine and refreshing<br> ice cream made with passion.</p>
                    </div>
                    <svg width="288" height="2" viewBox="0 0 288 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1H288" stroke="#E1E1E1"/>
                    </svg>
                    <div>
                        <div>
                            <h3 class="days-card">Monday - Friday</h3>
                            <p class="hours-card">06:00 AM - 10:00 PM</p>
                        </div>
                        <div>
                            <h3 class="days-card">Saturday - Sunday</h3>
                            <p class="hours-card">08:00 AM - 16:00 PM</p>
                        </div>
                    </div>
                    <svg width="288" height="2" viewBox="0 0 288 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1H288" stroke="#E1E1E1"/>
                    </svg>
                    <div class="addreses-card">
                        <a href="tel:+610383766284" class="anchor-card">+61(0) 383 766 284</a><br>
                        <a href="mailto:noreply@envato.com" class="anchor-card">noreply@envato.com</a>
                    </div>
                </li>
                <!--Card 3-->
                <li class="contacts-card">
                    <div class="cafe-card">
                        <p>CAFE</p>
                    </div>
                    <div>
                        <h3 class="city-card">New York</h3>
                        <p class="text-card">Specialty teas, artisanal pastries,<br> mouth-watering ice cream.</p>
                    </div>
                    <svg width="288" height="2" viewBox="0 0 288 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1H288" stroke="#E1E1E1"/>
                    </svg>
                    <div>
                        <div>
                            <h3 class="days-card">Monday - Friday</h3>
                            <p class="hours-card">06:00 AM - 10:00 PM</p>
                        </div>
                        <div>
                            <h3 class="days-card">Saturday - Sunday</h3>
                            <p class="hours-card">08:00 AM - 16:00 PM</p>
                        </div>
                    </div>
                    <svg width="288" height="2" viewBox="0 0 288 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 1H288" stroke="#E1E1E1"/>
                    </svg>
                    <div class="addreses-card">
                        <a href="tel:+610383766284" class="anchor-card">+61(0) 383 766 284</a><br>
                        <a href="mailto:noreply@envato.com" class="anchor-card">noreply@envato.com</a>
                    </div>
                </li>
            </ul>
            <div class="space-div"></div>
            <!--butoane-->
            <div class="contact-buttons">
                <button type="button" onclick="document.getElementById('mdl1').style.display='block'" class="contact-btn-lct">Our Locations &nbsp;></button>
                <button type="button" onclick="document.getElementById('mdl2').style.display='block'" class="contact-btn-frcs">Franchise &nbsp;></button>
            </div>
            <div class="modals-section">
                <div id="mdl1" class="modal-sct6 modal1-sct6">
                    <div class="sct6-modal-content">
                        <div onclick="document.getElementById('mdl1').style.display='none'" class="sct6-close-btn">&times;</div>
                        <div class="sct6-container">
                          <p id="title-modal">You can find us here...</p>
                          <div class="images-map">
                            <img src="./images/map-modal1-sct6.jpg" alt="You can find us here..." id="harta">
                          </div>
                          <p id="text-adress">5820, Marion Center, Los Angeles, USA</p>
                          <button type="button" class="sct6-modal-btn">Open in Google Map</button>
                        </div>
                    </div>
                </div>
            </div>
                <div id="mdl2" class="modal-sct6 modal2-sct6">
                    <div class="sct6-modal-content">
                        <span onclick="document.getElementById('mdl2').style.display='none'" class="sct6-close-btn">&times;</span>
                        <div class="sct6-container">
                            <p id="title-modal">Leave your details and we&apos;ll call you back</p>
                            <div class="modal-form-container">
                                <form>
                                    <label for="name">
                                        <p class="sct6-modal-lbl-txt">Name</p>
                                        <input type="text" id="name" name="name"  class="sct6-modal-input" required />
                                    </label>
                                    <label for="telephone">
                                        <p class="sct6-modal-lbl-txt">Telephone</p>
                                        <input type="text" id="telephone" name="telephone" class="sct6-modal-input" required />
                                    </label>
                                    <label for="e-mail">
                                        <p class="sct6-modal-lbl-txt">E-mail</p>
                                        <input type="text" id="e-mail" name="e-mail" autofocus class="sct6-modal-input" required />
                                    </label>
                                    <label for="comment">
                                        <p class="sct6-modal-lbl-txt">A few words...</p>
                                        <textarea name="comment" id="comment" rows="5" placeholder="Write here..." class="sct6-modal-input sct6-modal-input-text"></textarea>
                                    </label>
                                </form>
                            </div>
                            <button type="button" class="sct6-modal-btn">Send</button>
                        </div>
                    </div>
                </div>
        </div>
    </section>
    
  </body>
</html>
