<html lang="en">

<body class="body-how-its-made">
  <main>
    <!-- Sectiunea How it's Made -->
    <section class="how-its-made container-how-its-made" id="section3">
      <div class="subtitle-how-its-made">
        <h2>TRADITION AND LOVE</h2>
            <span class="h1-how-its-made">HOW IT'S MADE?</span>
      </div>
      <div class="container-img-p">

        <img src="./images/how-it-is-made/cow-milkcan.png" alt="cow" width="501px" height="501px" />
        <div class="container-right">
          <p class="p-how-its-made-1">
            Ice is a place where you will become not only a <br> little happier, but also healthier. Health is the <br>main value for us, and we follow it when creating <br> our handmade desserts.
          </p>
          <p class="p-how-its-made-2">
            We use traditional recipes and 100% natural <br> ingredients. Our products are so natural that they can <br> be given to children from the age of three years. Sweets <br> lovers can expect 55 types of  ice cream, 15 types of <br> coffee and 23 milkshakes.
          </p>
          <button type="submit" class="btn-read-more" id="myBtn" Open Modal>Read more &gt;</button>
        </div>
        <!-- The Modal -->
        <div id="myModal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <p class="modal-read-more">Welcome to Ice, where happiness meets healthiness in every scoop. At Ice, we
              prioritize
              your well-being by crafting delightful desserts that are as good for you as they are
              delicious. Our commitment to quality starts with traditional recipes and 100% natural
              ingredients, ensuring our treats are safe even for children aged three and up.

              Explore our menu to discover 55 delightful flavors of ice cream, 15 invigorating
              varieties of coffee, and 23 refreshing milkshakes. Each creation is made with care and
              passion, inviting you to savor the goodness of pure ingredients.

              Join us on a journey of taste and wellness. At Ice, every bite is a moment of joy and
              nourishment.</p>
          </div>
        </div>
      </div>
      </div>

      <!-- Section 3 Advantages  -->

      <!-- Titlul ascuns pentru crawler-uri -->
      <h2 class="hidden-title">Ice Cream</h2>
      <div class="advantages-container">
        <div class="advantages">
          <span class="icon-production"></span>
          <h1 class="h3-section3-advantages">721</h1>
          <p class="p-section3-advantages">At 721 Cow, we're passionate about producing the highest quality ice
            cream possible.</p>
        </div>
        <div class="advantages">
          <span class="icon-icecream-apple"></span>
          <h1 class="h3-section3-advantages">16kg</h1>
          <p class="p-section3-advantages">You can be sure you're getting a scoop of the freshest ice cream
            around.</p>
        </div>
        <div class="advantages">
          <span class="icon-flavours"></span>
          <h1 class="h3-section3-advantages">84</h1>
          <p class="p-section3-advantages">We use only the freshest, locally-sourced ingredients to make our 84
            unique and delicious flavors.</p>
        </div>
      </div>





      <script src="./section3-modal.js"></script>
    </section>
  </main>
</body>

</html>