<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <!-- Titlul ascuns pentru crawler-uri -->
      <h2 class="hidden-title">Ice Cream</h2>
      <!-- Secțiunea cu lista de beneficii sub formă de grilă -->
      <div class="advantages-grid">
        <div class="advantage">
          <img
            src="./images/how-it-is-made/production.png"
            alt="1st-advantage"
          />
          <h3>721</h3>
          <p>
            At 721 Cow, we're passionate about producing the highest quality ice
            cream possible.
          </p>
        </div>
        <div class="advantage">
          <img
            src="./images/how-it-is-made/icecream-apple.png"
            alt="2nd-advantage"
          />
          <h3>16kg</h3>
          <p>
            You can be sure you're getting a scoop of the freshest ice cream
            around.
          </p>
        </div>
        <div class="advantage">
          <img src="./images/how-it-is-made/flavours.png" 
               alt="3rd-advantage"/>
          <h3>84</h3>
          <p>
            We use only the freshest, locally-sourced ingredients to make our 84
            unique and delicious flavors.
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
