
<div class="gallery-massonry" style="width: 100%;">
  <div class="grid">
    <div class="grid-item1"><img src=".\images\gallery\img1.jpg" alt="Image 1"></div>
    <div class="grid-item2"><img src=".\images\gallery\img2.jpg" alt="Image 2"></div>
    <div class="grid-item3"><img src=".\images\gallery\img3.jpg" alt="Image 3"></div>
    <div class="grid-item4"><img src=".\images\gallery\img4.jpg" alt="Image 4"></div>
    <div class="grid-item5"><img src=".\images\gallery\img5.jpg" alt="Image 5"></div>
    <div class="grid-item6"><img src=".\images\gallery\img6.jpg" alt="Image 6"></div>
    <div class="grid-item7"><img src=".\images\gallery\img7.jpg" alt="Image 7"></div>
    <div class="grid-item8"><img src=".\images\gallery\img8.jpg" alt="Image 8"></div>
    <div class="grid-item9"><img src=".\images\gallery\img9.jpg" alt="Image 9"></div>
    <div class="grid-item10"><img src=".\images\gallery\img10.jpg" alt="Image 10"></div>
  </div>
</div>
